
video {
    z-index: -1;
    position: fixed;
}

#myName :hover, #navRight a:hover {
    color: cyan;
    background-color: magenta;
    transition: all 0.5s, background-color 1s;
}

#navRight ul:has(a:hover) a:not(:hover) {
    filter: blur(5px);
    transition: 1s 0.25s;
}